@import "tailwindcss";
@plugin "@tailwindcss/typography";

html,
body {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}

.window-drag-area > * {
  -webkit-app-region: no-drag;
}

.window-drag-area {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  user-select: none;
}
